<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<h3> Comments <h3>
<% @post.comments.each do |comment| %>
  <p>
    <%= comment.body %>
  </p>
      <% if current_user == comment.user%>
      <%= link_to 'Edit Comment', edit_post_comment_path(@post, comment) %>
      <%= link_to 'Delete Comment', [comment.post, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    <% end %>


<% end %>


<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>

